<style>
    input[type=text] {
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid #FF6200;
        background: whitesmoke;
    }

    .active-cyan input[type=text]:focus:not([readonly]) {
        border-bottom: 1px solid #4dd0e1;
        box-shadow: 0 1px 0 0 #4dd0e1;
    }

    .active-cyan .fa,
    .active-cyan-2 .fa {
        color: #4dd0e1;
    }

    .fa:hover {
        cursor: pointer;
    }
</style>
<div class="container">
    <br>
    <div class="row result-section">
        <!-- Example single danger button -->
        <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ selectedSearchEngine.value }}
            </button>
            <div class="dropdown-menu">
                <li *ngFor="let item of searchEngineTypes" [attr.id]="item.id" [value]="item.value" class="dropdown-item" (click)="selectedSearchEngine=item;">{{item.value}}</li>
            </div>
        </div>

        <div class="col-md-9">
            <div class="input-group active-cyan">
                <input class="form-control" id="iconLeft" #searchString type="text" placeholder="Search...">
                <span class="input-group-btn" (click)="Search(searchString.value)">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </span>
            </div>
        </div>
    </div>


    <div class="row result-section">

        <!-- Search Results -->
        <div class="col-md-8 " *ngIf="searchCallCompleted; else elseBlock">
            <div *ngIf="HasSearchResults(); else showNoResult">
                <div> About {{SearchData.searchInformation.formattedTotalResults}} results ({{SearchData.searchInformation.formattedSearchTime}}
                    seconds)
                </div>
                &nbsp;
                <div *ngFor='let value of SearchData.items; trackBy: index;'>
                    <div id="{{ value.id }}">
                        <h5 [innerHTML]="value.htmlTitle"></h5>
                        <span class="" [innerHTML]="value.htmlSnippet"></span>
                        <a href="{{value.link}}">{{value.link}}</a>
                    </div>
                    <hr>
                </div>
            </div>
            <ng-template class="col-md-8 " #showNoResult>
               Sorry, No results found matching that search text.
            </ng-template>

        </div>
        <ng-template class="col-md-8 " #elseBlock>
            <img src="../assets/start.jpg">
        </ng-template>

        <!-- Search Results ends-->

        <!-- Search Results logging-->
        <div class="col-md-4" *ngIf="GetSelectedSearchEngineStats()">
            Search History
            <div class="table-responsive-ss">
                <table class="table table-sm table-dark">
                    <thead class="thead-light">
                        <tr class="table-info">
                            <th scope="col">Search Time</th>
                            <th scope="col">Total Results</th>
                            <th scope="col">Search Query</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let item of GetSelectedSearchEngineStats(); trackBy: index;'>
                            <td>{{item.formattedSearchTime}} secs</td>
                            <td>{{item.formattedTotalResults}}</td>
                            <td> {{item.searchText}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
        <!-- Search Results logging ends-->
    </div>